@import '@style/utils/colors';

.homeTab-section {
    margin: 32px 0 0 0;

    @media screen and (min-width: $TabletWidth) {
        margin: 20px 0 0 0;
    }

    @media screen and (min-width: $DesktopWidth) {
        margin: 0;
    }
}
