@import '@style/utils/colors';

.homeTabItemTabletAndDesktop {
    display: flex;
    justify-content: space-around;
    width: 704px;
    margin: 0 auto;
    position: relative;

    &:not(:last-child):after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #dcdcdf;
    }

    & .homeTabItemAndDesktopResult {
        font-weight: 700;
    }

    & p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: Circe;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 70px;
        height: 40px;
        margin: 10px 0;
        position: relative;

        &:nth-child(1) {
            width: 50px;
        }
        &:nth-child(2) {
            width: 30px;
        }
        &:nth-child(3) {
            width: 100px;
        }
        &:nth-child(5) {
            width: 50px;
        }
    }
}

.homeTabItemAndDesktopResult--green {
    color: var(--accent-color-grean);
}

.homeTabItemAndDesktopResult--red {
    color: var(--accent-color-red);
}
