.nav_list {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }
}

.nav_list__item {
    list-style: none;
    &:not(:last-child) {
        margin-right: 32px;
    }

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 12px;
        }
    }
}
