$primary-text: #000000;
$second-text: #a6a6a6;
$accent-text: #ffffff;
$currency-table: #4a56e2;
$credit: #ff6596;
$debet: #24cca7;
$overlay: #e7eaf2;
$placeholder: #bdbdbd;
$backdrop: rgba(0, 0, 0, 0.25);
$background: rgba(255, 255, 255, 0.4);

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
