.button_exit {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 12px;

    @media screen and (min-width: 768px) {
        border-left: 1px solid var(--placeholder-text);
        padding: 8px 20px;
    }
}

.button_exit__block {
    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }
}

.button_exit__icon {
    width: 18px;
    height: 18px;
}

.button_exit__text {
    display: none;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--placeholder-text);

    @media screen and (min-width: 768px) {
        display: block;
    }
}
