.header {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--primary-background-color);

    @media screen and (min-width: $TabletWidth) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
