.header {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: var(--primary-background-color);

    @media screen and (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.logo_link {
    margin-bottom: -60px;
    text-decoration: none;
    color: var(--primary-text-color);
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}
