.container__img {
    display: none;
}

.logo {
    // display: flex;
    //    align-items: center;
    //    width: 120px;
    //    height: 30px;
    margin-bottom: 60px;
}

.form {
    padding: 32px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--primary-background-color);

    &__label {
        position: relative;
        margin-bottom: 41px;
    }

    &__input::placeholder {
        font-size: 18px;
        line-height: 1.5;
        color: var(--placeholder-text);
    }

    &__input {
        outline: none;
        border: none;
        width: 409.5px;
        padding: 9px 5px 9px 60px;
        border-bottom: 1px solid var(--disabled-grey-text-color);
    }
    &__show{
        cursor: pointer;
        position: absolute;
        bottom: 11px;
        right: 16px;
        right: 0;
        background-color:var(--placeholder-text) ;
        color: var(--primary-background-color);
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 5px;
        line-height: 1.5;
    }
    &__strength{
        position:absolute;
        width:0%;
        height:2px;
        bottom: -8px;
        left:0;
        background: transparent;
        transition: all 300ms ease-in-out;

        &[data-score='null']{
            width:0 ;
            background: red;
        }
        &[data-score='0'] {
            width: 0;
            background: red;
        }
        &[data-score='1'] {
            width: 25%;
            background: #f44336;
        }
        &[data-score='2'] {
            width: 50%;
            background: #ffed3b;
        }
        &[data-score='3'] {
            width: 75%;
            background: #4caf50;
        }
        &[data-score='4'] {
            width: 100%;
            background: #4caf50;
        }
    }
    &__icon {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 12px;
        bottom: 9px;
    }

    &__button {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-top: 13px;
        padding-bottom: 13px;
        background: var(--secondary-text-color);
        border: 1px solid var(--accent-color-blue);
        border-radius: 20px;
        color: var(--accent-color-blue);
        width: 100%;
        height: 50px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__button--active {
        background: var(--accent-color-grean);
        color: var(--secondary-text-color);
        border: none;
    }
}

@media screen and (max-width: 767px) {
    .form {
        padding: 107px 20px;

        &__input {
            width: 280px;
        }
        &__button {
            width: 280px;
            height: 50px;
        }
    }
}

@media screen and (min-width: 768px) {
    .register {
        display: flex;
        flex-direction: column;

        padding: 60px 100px;
    }
    .container__img {
        display: flex;
        margin: 0 auto;
        align-items: center;
        margin-bottom: 50px;
    }
    .position {
        display: flex;
        align-items: center;
    }

    .img {
        width: 274px;
        height: 250px;
        margin-right: 40px;
    }
    .title {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
    }
    .form {
        padding: 40px 61px 62px 61px;
        margin-left: auto;
        margin-right: auto;
        width: 533px;
        border-radius: 20px;
        &__button {
            width: 300px;
            height: 50px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .register {
        flex-direction: row;
    }
    .container__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        flex-direction: column;
        margin-left: 40px;
        padding-top: 153px;
    }
    .position {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img {
        width: 435px;
        height: 420px;
        margin-bottom: 28px;
    }
    .title {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
    }
    .form {
        margin: 0 auto;
    }
    .form__filter {
        position: absolute;
        top: 0;
        right: 0;

        width: 55%;
        height: 100%;
        padding-top: 52px;

        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(50px);
    }
}
