.cat {
    background-image: url('../../assets/img/cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;

    &.big {
        height: 300px;
    }
}
