@import '@style/utils/colors';

.homeTabList {
    margin-bottom: -10px;

    @media screen and (min-width: 1280px) {
        max-height: 60vh;
        overflow-y: auto;
    }
}

.homeTabTabletAndDesktop {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    // margin: 0 auto;
    width: 704px;
    height: 58px;
    border-radius: 30px;
    background-color: var(--primary-background-color);
    position: sticky;
    top: 0;
    z-index: 1;

    & th {
        font-family: Circe;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        // width: 70px;
        // width: 16%;

        &:nth-child(1) {
            width: 100px;
        }
        &:nth-child(2) {
            width: 60px;
        }
        &:nth-child(3) {
            width: 120px;
        }
        &:nth-child(4) {
            width: 120px;
        }
        &:nth-child(5) {
            width: 120px;
        }
        &:nth-child(6) {
            width: 120px;
        }
        &:nth-child(7) {
            width: 40px;
        }
    }
}
