@import '@style/utils/colors';

.homeTabList {
    margin-bottom: -10px;

    @media screen and (min-width: $DesktopWidth) {
        max-height: 60vh;
        overflow-y: scroll;
    }
}

.homeTabTabletAndDesktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 704px;
    height: 58px;
    border-radius: 30px;
    background-color: var(--primary-background-color);

    & h3 {
        font-family: Circe;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        width: 70px;

        &:nth-child(1) {
            width: 50px;
        }
        &:nth-child(2) {
            width: 30px;
        }
        &:nth-child(3) {
            width: 100px;
        }
        &:nth-child(5) {
            width: 50px;
        }
    }
}
