.container {
    width: 100%;
    max-width: $MobileWidth;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $TabletWidth) {
        max-width: $TabletWidth;
        padding: 0 32px;
    }

    @media screen and (min-width: $DesktopWidth) {
        display: flex;
        max-width: $DesktopWidth;
        padding: 0 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    &__main {
        padding-top: 12px;

        @media screen and (min-width: $TabletWidth) {
            padding-top: 32px;
        }

        @media screen and (min-width: $DesktopWidth) {
            display: flex;
            padding-top: 46px;
        }
    }
}
