#root {
    height: 100vh;
    background-color: var(--secondary-background-color);
    font-family: 'Circe';

    @media screen and (min-width: 768px) {
        background-image: url(../../assets/bg-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../../assets/bg-tablet@2x.png);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../../assets/bg-desktop.png);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../../assets/bg-desktop@2x.png);
        }
    }
}

.main {
    height: 100%;
    padding-top: 12px;
    background-color: var(--third-background-color);
    backdrop-filter: blur(50px);

    @media screen and (min-width: 768px) {
        padding-top: 32px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 46px;
    }
}

.dashboardMain {
    @media screen and (min-width: 1280px) {
        display: flex;
        position: relative;

        &::before {
            position: absolute;
            bottom: 0;
            left: 483px;
            content: '';
            width: 2px;
            height: 100%;
            background-color: #e7e5f2;
        }
    }
}
