body {
    background-color: var(--secondary-background-color);
    font-family: 'Circe';

    @media screen and (min-width: 768px) {
        background-image: url(../../assets/bg-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../../assets/bg-tablet@2x.png);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../../assets/bg-desktop.png);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../../assets/bg-desktop@2x.png);
        }
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

main {
    padding-bottom: 30px;
    flex-grow: 1;
    background-color: var(--third-background-color);
    backdrop-filter: blur(50px);
}

.dashboardMain {
    flex-grow: 1;
    // padding-top: 12px;

    @media screen and (min-width: 768px) {
        // padding-top: 32px;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        position: relative;
        // padding-top: 46px;

        &::before {
            position: absolute;
            bottom: 0;
            left: 483px;
            content: '';
            width: 2px;
            height: 100%;
            background-color: #e7e5f2;
        }
    }
}

.main_block {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
        display: block;
    }
}
