.containerDelete {
    padding: 40px 20px;
    width: 100%;
    margin-top: 20vh;
    height: 340px;
    text-align: center;
    background-color: var(--primary-background-color);
    border-radius: 20px;
    border: solid var(--secondary-background-color);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 6%),
        1px 4px 6px rgb(0 0 0 / 16%);

    @media screen and (max-width: 768px) {
        height: 300px;
    }
    @media screen and (min-width: 768px) {
        margin-right: auto;
        margin-left: auto;
        width: 540px;
        height: 320px;
    }
}

.textDelete {
    font-size: 30px;
}

.btnDelete {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    border: 0;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: all 150ms ease-in-out;

    margin-top: 40px;
    color: var(--secondary-text-color);
    background-color: var(--accent-color-grean);

    &:last-child {
        margin-top: 20px;
        color: var(--accent-color-blue);
        border: 1px solid var(--accent-color-blue);
        background-color: var(--primary-background-color);
    }
}
.btnDelete:hover {
    box-shadow: 0 0 10px 4px var(--accent-color-grean);
}

.form_update_name {
    &__input {
        margin-right: 10px;
        color: var(--primary-text-color);
        border: none;
        border-bottom: 1px solid var(--primary-text-color);
        outline: none;
    }
}
